<p id="notice"><%= notice %></p>

<h1 class='text-center'>Весенний семестр 2015/2016 учебного года</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a href="af" data-toggle="tab">А</a></li>
    <li><a href="#kib" data-toggle="tab">КиБ</a></li>
    <li><a href="#t" data-toggle="tab">Т</a></li>
    <li><a href="#u" data-toggle="tab">У</a></li>
    <li><a href="#f" data-toggle="tab">Ф</a></li>
  </ul>


  <div class="tab-content">
    <div class="tab-pane" id="af">f</div>
    <div class="tab-pane active" id="kib">
      <h2 class="light">Факультет кибернетики и информационной безопасности</h2>
      <div class="row">
        <div class="col-sm-2">
          <h4>1 курс</h4>
            <div class="list-group">
            <% @groups.order(:name).each do |group| %>
            <% if (group.year == 1)&&(group.faculty == "kib") %>
            <%= link_to group.name, group, class: "list-group-item" %>
            <% end %>
            <% end %>
            </div>
        </div>
        <div class="col-sm-2">
          <h4>2 курс</h4>
            <div class="list-group">
            <% @groups.order(:name).each do |group| %>
            <% if (group.year == 2)&&(group.faculty == "kib") %>
            <%= link_to group.name, group, class: "list-group-item" %>
            <% end %>
            <% end %>
            </div>
        </div>
        <div class="col-sm-2">
          <h4>3 курс</h4>
            <div class="list-group">
            <% @groups.order(:name).each do |group| %>
            <% if (group.year == 3)&&(group.faculty == "kib") %>
            <%= link_to group.name, group, class: "list-group-item" %>
            <% end %>
            <% end %>
            </div>
        </div>
        <div class="col-sm-2">
          <h4>4 курс</h4>
            <div class="list-group">
            <% @groups.order(:name).each do |group| %>
            <% if (group.year == 4)&&(group.faculty == "kib") %>
            <%= link_to group.name, group, class: "list-group-item" %>
            <% end %>
            <% end %>
            </div>
        </div>
        <div class="col-sm-2">
          <h4>5 курс</h4>
            <div class="list-group">
            <% @groups.order(:name).each do |group| %>
            <% if (group.year == 5)&&(group.faculty == "kib") %>
            <%= link_to group.name, group, class: "list-group-item" %>
            <% end %>
            <% end %>
            </div>
        </div>

      </div>

    </div>




    <div class="tab-pane" id="t">t</div>
    <div class="tab-pane" id="u">u</div>
    <div class="tab-pane" id="f">f</div>

  </div>
 </div>
    <!-- <% @groups.each do |group| %> -->
    <!-- <ul class="list-group-item"> -->
    <!-- <%= link_to group.name, group %> -->

<!-- </ul> -->

      <!-- <tr> -->
        <!-- <td><%= group.name %></td> -->
        <!-- <td><%= link_to 'Show', group %></td> -->
        <!-- <td><%= link_to 'Edit', edit_group_path(group) %></td> -->
        <!-- <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <!-- </tr> -->
    <!-- <% end %> -->
  <!-- </tbody> -->
<!-- </table> -->


<!-- <%= link_to 'New Group', new_group_path %> -->
