<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "ID курса занятий" %><br>
    <%= f.number_field :course_id, :class => 'number_field', :disabled => true %>
  </div>
  <div class="field">
    <%= f.label "Тип занятия" %><br>
    <%= f.text_field :typeL, :class => 'text_field', :disabled => true %>
  </div>
  <div class="field">
    <%= f.label "Тип аттестации" %><br>
    <%= f.select(:typeA) do %>
  <% [['Домашняя работа', 'Домашняя работа'], ['Контрольная работа', 'Контрольная работа'], ['Тест', 'Тест'], ['Лабораторная работа', 'Лабораторная работа'], ['Полусеместровый контроль', 'Полусеместровый контроль'],['Семестровый контроль', 'Семестровый контроль'], ['Нет', nil]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %>
  </div>
  <div class="field">
    <%= f.label "Дата"%><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= submit_tag "Сохранить", class:"btn btn-primary" %>
  </div>
<% end %>
